/*------- 
  reset 
-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------- 
 commons
-------*/

.nav-bar {
    max-width: 100%;
    text-align: right;
    background-color: aqua;
}

.nav-bar ul li{
    display: inline-block;
    margin: 15px 25px;
}

.nav-bar ul li a{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #fff;
}

.nav-bar ul li a span {
    font-weight: bold;
}

